body{
    background:#f8f8f8;
    font-family:Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}
.wy-navbar{
    display:table;
    line-height:50px;
    position:fixed;
    width:100%;
    background:#ffffff;
    border-bottom:1px solid rgba(30,35,42,.06);
    box-shadow:0 1px 3px 0 rgba(0,34,77,.05);
    background-clip:content-box;
}

.wy-header{
    display:table-cell;
    vertical-align: middle;
    min-height:50px;
    width:1000px;
    margin:0 auto;
}

.wy-header-nav{
    display:inline-flex;
    -webkit-box-pack:justify;
    justify-content:space-between;
    width:170px;
    height:30px;
    margin-right:20px;
    margin-left:20px;
    color:#999999;
}

.wy-header-nav a:hover{
    color: #175199;
}

.wy-header-nav a{
    padding:0 10px;
    font-size:15px;
    line-height:30px;
    color:#8590a6;
    text-decoration: none;
}

.logo_small{
    height:30px;
    width:96px;
}

.wy-search{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    line-height:35px;
    background: #f7f8fa;
    width:400px;
    border: 1px solid #e7eaf1;
    border-radius: 5px;
    margin-left:30px;
    padding-left:10px;
    /*background: url(/images/search24.ico) no-repeat right 10px center;*/
}

.searchImg{
    position: absolute;
    top: 0;
    bottom: 0;
    margin:auto;
    right: 10px;
}
.searchImg:hover{
    cursor: hand;
}